
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Öğrenci Bilgi  Yönetimi Sistemine Hoşgeldiniz.</h2>
<br />
<h5>Sistem hakkında açıklamalar şu şekildedir:</h5>
<ul>
    <li>Sisteme girebilmek için kullanıcı adı ve parola gereklidir. Parolalarınız veri tabanında hashlenerek tutulur.</li>
    <li>Sistemden CRUD işlemleri gerçekleştirebilirsiniz. Sınıf ekleyebilir veya silebilirsiniz sildiğiniz sınıflar öğrenci eklerken combobaxtan da silinir. Eklediğiniz sınıf veya okul içinde aynısı geçerlidir.</li>
    <li>Sildiğiniz sınıf, okul, kullanıcı veya öğrencilerin veritabanındaki SILINDI alanı true olur ve listelerde listelenmez.</li>
    <li>Öğrenci listesi kısmında öğrenci bilgileri diyerek öğrencinin detaylı bilgisine erişebilir ve o sayfadan öğrenci hakkındaki bilgileri güncelleyebilirsiniz.</li>
    <li>Öğrenci listesi sayfasında multitaskin search ile aynı input içinde öğrencinin adı, soyadı, tcsi veya numarası ile arama yapabilir çıkan kutudan üstüne tıklayarak öğrenci bilgilerine erişebilirsiniz.</li>
    <li>Eklemek istediğiniz sınıf veya okul zaten veritabanında var ise tekrardan ekleyemezsiniz.</li>
    <li>Projede ilişkisel veri tabanı kullanılmıştır.</li>
    <li>Sidebarın en alt sağ tarafından sistemden çıkış yapabilirsiniz.</li>
</ul>

